body {
     color: white;
     font-family: "Montserrat", sans-serif;
}

.jumbotron {
     font-family: "Raleway", sans-serif;
     padding: 0;
     color: white;
     background: url("http://i.imgur.com/VOwHW3S.jpg");
     background-size: cover;
     background-attachment: center;
     letter-spacing: 1px;
     line-height: normal;

}

.jumbotron h1 {
     font-family: "Raleway";
     font-size: 3em;
     /*line-height: 1.5em;*/
     font-weight: 900;
     /*font-style: italic;*/
}

.jumbotron p {
     font-family: inherit;
     color: #F7F7F9;
     font-size: 1em;
     line-height: 1.2em;
     font-weight: 300;
     display: block;
}

.jumbotron span {
     font-weight: 700;
}

.jumbotron .jumbo-text {
     padding-top: 1rem;
     padding-bottom: 2rem;
}

a:hover {
     text-decoration: none;
     color: currentColor;
}

#collapsing-content {
     text-align: left;
}

#info-segment {
     height: 100%;
}

 .text-link {
     font-family: "Raleway";
     font-weight: 300;
     color: inherit;
     display: block;
     font-size: 1em;
     line-height: 2em;
     margin: 0;
     padding: 2em;
     padding-top: .4em;
     padding-bottom: .4em;
     position: relative;
     text-align: left;
     letter-spacing: 1px;

}

#navigation-column {
     padding-left: 0;
     padding-right: 0;

}

#collapsing-content {
     padding: 0;
}

#navigation-column span {
     background-image: linear-gradient(rgba(0,0,0, 0.3), rgba(0,0,0, 0.3));
}

.row {
     margin: auto;
     padding: auto;
}

.card-grad {
     border: 0;
     border-radius: 0;
     color: #000;
}

.darken {
     background-image:
  linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  ),
  url("http://i.imgur.com/VOwHW3S.jpg");
}

.toggle-button {
     font-size: 1.75rem;
     padding: .5rem 1rem .5rem 1rem;
     background-color: white;
     color: #FFF;
     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
     border-radius: 0;

}

.padding-top-target {
     padding-top: 1rem;
}

#made-by {
     color: inherit;
     padding: 0;
     padding-left: 1rem;
     margin: 0;
}

#made-by-card {
     font-family: inherit;
     border: none;
     padding: 0;
     margin: 0;
     background: none;
     color: #D3D3D3;
}

#quote-text {
     color: inherit;
     font-family: "Cardo";
     font-weight: 400;
     font-size: 1.3em;
     line-height: 1.3em;
}

footer {
     font-family: "Cardo";
     padding: 0;
     font-size: 1.3em;
     font-weight: 700;
}

#fixed-navbar-shit {
     padding: 0;
     margin: 0;
}

.nav-link:hover {
     color: #474747;
}

.nav-item {
     padding: 0;
     margin: 0;
}

#menu {
     z-index: 10000;
     background-color: #FFFFFF;
     color: #313131;
     margin: 0;
}

#panel button {
     border: 0;
     color: white;
     background-color: #000000;
     font-size: 2em;
}

#menu ul {
     display: block;
}

#menu a {
     color: inherit;
}

#menu hr {
     padding: 0;
     margin: 0;
     width: 100%;
}

#menu .nav-item:hover {
     color: #555555;
     background-color: #D3D3D3;
}

.toggle-button:focus, .toggle-button:active, .toggle-button.active, .toggle-button:focus:active {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.nav-item h4 {
     font-family: "Lato";
     margin: 1em 0;
     padding: 0;
     font-variant: small-caps;
     font-weight: 800;
     font-size: 1.3em;
     font-kerning: normal;
     letter-spacing: 2px;
}

body {
     background-image: linear-gradient(45deg, #22264b, #b56969 50%, #e6cf8b);
}

@media screen and (min-width: 768px) {
  .slideout-menu {
    display: block;
    }
  .btn-hamburger {
    display: none;
  }
}

.social-media-icon  {
     display: inline;
     height: 20px;
     padding: 0.5em;
}

